.button {
}

.carousel {
  display: flex;
  flex-direction: row;
  height: 50%;
  align-self: center;
  width: 50%;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  gap: 20px;
}
